.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 0px 5px gold;
}

.btns {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.responsive-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #bbdefb;
  border-radius: 6px;
  background-color: white;
  color: black;
  outline: none;
  transition: all 0.3s ease;
}

input:focus {
  border-color: gold;
  box-shadow: 0 0 10px gold;
}

button {
  padding: 12px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  background-color: gold;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

textarea {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: auto;
  min-height: 100px;
}

@media (max-width: 600px) {
  .form-container {
    padding: 16px;
  }

  input,
  button {
    font-size: 14px;
  }
}
